body {
     background-image: linear-gradient(30deg, #E84545 10%, #2B2E4A 10%);
     min-height: 754px;
     text-align: center;
}

h1 {
     display: inline-block;
     color: #00ADB5;
     margin-top: 50px;
     font-family: "Praise", cursive;
     font-size: 7rem;
     text-shadow: 4px 4px 1px #222831;
     cursor: default;
     transition-duration: 0.125s;
     position: relative;
}


h1:hover {
     transform:scale(1.035);
}

table div {
     width: 150px;
     height: 150px;
}

table {
     margin: 20px auto;
}

.mid-row {
     border: 6px #00ADB5;
     border-style: solid none;
}

.mid-col {
     border: 6px #00ADB5;
     border-style: none solid;
}

img {
     width: 55%;
     margin-top: 40px;
}

.Play {
     position: relative;
     cursor: pointer;
     background-color: #E84545;
     display: inline-block;
     padding: 0 75px;
     font-size: 2rem;
     font-family: 'Montserrat', sans-serif;
     color: #2B2E4A;
     border-radius: 15px;
     overflow: hidden;
     z-index: 1;
}

.Play::before {
     content: "";
     z-index: -1;
     position: absolute;
     left: -100%; top: 0;
     background-color: #00ADB5;
     width: 100%; height: 100%;
     transition: all 0.25s ease;
}

.Play:hover::before {
     left: 0;
}
